{% if session['logged_in'] %}
<html>
  <head>
    <meta charset="utf-8">
    <title>myApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >

  </head>
  <body>
    <header class='navbar navbar-expand-lg navbar-light bg-dark fixed-top'>
      <form method="post" action="/logout" class='form-inline'>
        <input type="submit" value="Se déconnecter">
      </form>
    </header>
    <br/>
    <br/>
    <br/>
    <h1>Add book</h1>
    <form method="POST" action="/home">
      <input type="text" name="title">
      <input type="submit" value="Add">
    </form>

    <h1>Books</h1>
    <table class="table">
      {% for book in books %}
        <tr>
          <td>
            {{book.title}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="oldtitle">
              <input type="text" value="{{book.title}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="title">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
{% else %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>myApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signin.css') }}">

  </head>

  <body class="text-center">
    <h1>Interdit :)</h1>
  </body>
</html>
{% endif %}
